#mainheader{
    float: left;
    width: 15%;
    background-color: brown;
    color: white;
    height: 100vh;
    text-align: center;
    position: fixed;
}
.logo{
    height: 100px;
    padding: 20px;
    margin-top: 50px;
    line-height: 50px;
    background-color:  blueviolet;
}

.menuitem{
    height: 150px;
    padding: 5px;
    
   

}
a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
  
}
li{
    text-align: center;
    margin-bottom: 15px;
    padding: 5px
    ;
}