#mainheader{
    float: left;
    width: 15%;
    background-color: brown;
    color: white;
    height: 1000vh;
   padding: 10px;
    position: fixed;
}
.logo{
    text-align: center;
    height: 100px;
    
    padding: 0;
    margin-top:75px;
    margin-bottom: 50px;
    line-height: 150px;
    height:  150px;
    background-color: rgba(111, 53, 53, 0.551);
   
}
.logo h1{
    text-align: center;
    padding: 10px;
}

.menuitems{
   
    padding: 5px;

    
   

}
a{
  
    text-decoration: none;
    color: white;
    font-weight: 100;
 
  
}
li{
    text-align: center;
   background-color:  rgba(111, 53, 53, 0.551);
    padding: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    list-style-type: none;
    font-weight: 100;
}
.menuwrap{
    padding: 10px;
    text-align: center;
}
.mainContent {
    float: left;
    width: 100%;
    background-color: aquamarine;
padding-left: 250px;
  }

  a:link{
    

  }

  